@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: #222222;
    background-color: #fff;
}

div {
    display: block;
    unicode-bidi: isolate;
}

ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin: 0;
    padding: 0;
}

li {
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
    cursor: pointer;
}

form {
    display: block;
    margin: 0;
    padding: 0;
    unicode-bidi: isolate;
}

.wrap {
    position: relative;
    height: 100%;
    letter-spacing: -.5px;
    margin-top: 10%;
}

.login_wrap{
    box-sizing: border-box;
    width: 460px;
    margin: 0 auto;
}

.login_wrap h2 {
    font-size: 50px;
    text-align: center;
}

.menu_wrap{
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.menu_item{
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.menu_id{
	display: block;
    position: relative;
    height: 61px;
    padding-top: 17px;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 6px 0 0 0;
    background-color: #f8f9fa;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

.menu_id .menu_text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.5px;
    color: #777;
    vertical-align: middle;
}

.menu_id::after {
    content: '';
    position: absolute;
    top: -1px;
    right: -8px;
    background-position: -225px 0;
    background-repeat: no-repeat;
    width: 15px;
    height: 62px;
}

.menu_social {
    display: block;
    position: relative;
    height: 61px;
    padding-top: 17px;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
    border-radius: 0 6px 0 0;
    text-align: center;
    box-sizing: border-box;
    border-color: #c6c6c6;
    background-color: #8EFFA0;
    z-index: 5;
}

.menu_social .menu_text {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.5px;
    color: #333;
    vertical-align: middle;
}

.frm_login {
    padding: 20px 24px;
    border: 1px solid #c6c6c6;
    border-radius: 0 0 6px 6px;
}

.frm_login > input{
    width: 70%;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #fff;
}

.frm_login label[for = "remember-check"] {
    margin-left: 60%;
}

.frm_login .frm_login_submit {
    background-color: #8EFFA0;
}

.find_wrap {
    padding: 20px 0 35px;
    text-align: center;
}

.find_wrap > li{
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
}

.find_wrap .find_text {
    color: #000;
}

.find_wrap .join {
    color: #000;
}

.social_login {
	display: flex;
	justify-content: center;
	padding: 20px 24px;
    border: 1px solid #c6c6c6;
    border-radius: 0 0 6px 6px;
}

.social_login > button {
	background-color: #8EFFA0;
	border-radius: 6px;
	width: 70%;
	height: 70px;
}
