@charset "UTF-8";
:root {
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-weight: 500;
    --small-text-font-size: 16px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
    --body-text-font-family: "Inter", Helvetica;
    --body-text-font-weight: 500;
    --body-text-font-size: 20px;
    --body-text-letter-spacing: 0px;
    --body-text-line-height: 150%;
    --body-text-font-style: normal;
    --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --variable-collection-spacing-s: 24px;
    --variable-collection-spacing-m: 48px;
}
